* {
  box-sizing: border-box;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #080708;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #F7FEFF;
  color: black;
}

.mySlides {
  position: relative;
  text-align: center;
  color: white;
}
.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Courier New, monospace;
  font-weight: 50
}
.lr {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 8px;
  color: white;
}

.box {
  height:70%; 
  width: 70%; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  position: absolute; 
  margin: 0px;
  white-space: nowrap;
}

.bodytext {
  font-family: Noto Sans, Helvetica, sans-serif;
  color: #000404;
}

.body {
  background-color: #F7FEFF;
  margin: 0px;
}
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4vw;
}

.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
}

.side {   
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
}

.hype {
  height: 200px; 
  width: 200px;
  margin: 10px;
  left: 50%;
  font-family: "Courier New", monospace;
  position: relative;
  text-align: center;
}

.lab {
  height: 30px; 
  width: 200px; 
  position: absolute; 
  background-color: #333; 
  opacity: 75%; 
  bottom: 0%; 
  left: 0%
}

.labtext {
  color: white; 
  margin: 0px; 
  font-size: small; 
  bottom: 7px;  
  position: absolute; 
  text-align: center;
}


.collapsible {
  background-color: #43AA8B;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: large;
  font-family: Noto Sans, Helvetica, sans-serif;
  color: #F7FEFF;
  font-weight: 500;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.coltext{
  font-family: Noto Sans, Helvetica, sans-serif;
  color: #080708;
  display: none;
}

.coltext.hide {
  display: none;
}

.coltext.show {
  display: block;
}

.Gen {
  display: block;
}

.SorryGen {
  display: none;
}

.Sup {
  display: none;
}

.SorryUnsup {
  display: none;
}

.Data {
  display: none;
}

.ImLab {
  display: none;
}

.ImVal {
  display: none;
}

.ImClass {
  display: none;
}

.DaLab {
  display: none;
}

.DaCat {
  display: none;
}

.Time {
  display: none;
}

.DaMem {
  display: none;
}

.DaVal {
  display: none;
}

.coltext button {
  background-color: #EFCA08;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
}

.footer {
  background: #080708;
  text-align: center;
  font-family: Noto Sans, Helvetica, sans-serif;
  color: #F7FEFF;
  padding: 2px;
}

.footer.a {
  color: #F7FEFF;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

